body {
    background-color: #083B4C;
}

.ms_container {
    width: 80vw;
    margin: 0 auto;
    border: 1px solid red;
}

.ms_card {
    width: calc((100% - 10px * 2 * 10) / 10);
    height: calc((80vw - 10px * 2 * 10) / 10);
    margin: 10px;
    border: 1px dashed green;

    display: flex;
    align-items: center;
    justify-content: center;
}